.spacer{
  height: 135px;
  width: 1000px;
  background: transparent;
}

.album-container{
  height: 250px;
  width: 1020px;
  background: rgba(255, 255, 255, 0.39);
  display: flex;
  align-self: center;
  position: relative;
  flex-direction: row;
}

.album{
  border-radius: 4px;
  margin-top: 90px;
  height: 200px;
  width: 270px;
  background: red;
  opacity: 0.8;
  border: 2px solid black;
  position: absolute;
  margin: 42px;
  box-shadow: 0 1px 10px 1px black;
  transform: rotateY(50deg) rotateX(-15deg) rotateZ(-3deg);
}

@keyframes display{
  0%{
    transform: translateX(0px) rotateY(50deg) rotateX(-15deg) rotateZ(-3deg);
    width:270px;
    height: 200px;
  }
  30%{
    z-index:1;
    transform: rotateY(50deg) rotateX(-15deg) rotateZ(-3deg) translateX(-163px);
  }
  100%{
    z-index:1;
    width:300px;
    height: 230px;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateX(5px) ;
  }
}

.albums-animation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.album:hover{
  animation: display 1s ease-out forwards;
  border: 2px solid white;
}



/*1000px*/

.expandingBox {
  width: 100%;
  height: 0px;
  background: rgba(255, 255, 255, 0.63);
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  transition: height 1s;
}

.album-css, .album-jQuery, .album-html{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.95;
  display: flex;
  flex-direction: column;

}

.code-title{
  margin-bottom: 3px;
  color: #383737;
  text-shadow: 1px 1px white;
}


img{
  box-shadow: 0 1px 1px 1px gray;
}

.open-button{
  margin: 50px auto;
  height: 42px;
  width: 130px;
  background: rgba(255, 255, 255, 0.82);
  position: relative;
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 1px 1px 1px black;
  cursor: pointer;
}

.open-button:active {
  box-shadow: 0 0 0 0 gray;
}

.part2{
  height: 100%;
  width: 0%;
  display: flex;
  postition: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #6d0404;
  opacity: 0.7;
  transition: width 0.2s;
}

.part1{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.4s;
}

.open-button:hover .part1{
  width: 0%;
  justify-content: flex-start;
}

.open-button:hover .part2{
  width: 100%;
}





.theText{
  position: absolute;
  top: 24%;
  left: 16%;
  font-size: 20px;
  margin: 0;
  transition: color 0.7s;
}

.open-button:hover .theText{
  color: white;
}
