
.zoom-buttons{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.generic-span{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.buzzcontainer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
