body{
  background-image: url("../images/background.jpg");
  font-family: 'Tahoma';
  z-index: 0;
  position: relative;
}


.zoom-buttons{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.buttons-second{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
}

#cube-code{
    margin: 40px auto;
}

.generic-span{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buzzcontainer {
  width: 100%;
  height: 305px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  margin-top: -48px;
}

.paint-heading{
  font-family: 'Rock Salt', cursive;
  text-align: center;
  font-size: 63px;
  color: antiquewhite;
  text-shadow: 1px 1px black, 4px 4px gray;
}

a{
  color: white;
  text-decoration: none;
}

.info-box{
  height: 400px;
  width: 810px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  left: 155px;
  top: 116px;
}

.description-box{
  margin: 50px auto;
  height: 200px;
  width: 530px;
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.contact-details{
  margin: 50px auto;
  height: 200px;
  width: 200px;
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.the-text{
  height: 100%;
  width: 0%;
  display: flex;
  postition: relative;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: width 800ms 500ms;
  -moz-ransition: width 800ms 500ms;
  transition: width 800ms 500ms;
}

.description-filler, .contact-filler{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: transparent;
  -webkit-transition: width 800ms 500ms;
  -moz-transition: width 800ms 500ms;
  transition: width 800ms 500ms;
}

.rotator{
  position: relative;
  height: 37px;
  width: 250px;
  font-size: 25px;
  text-align: center;
  margin: -158px auto;
  color: black;
  font-family: 'Rock Salt', cursive;
  border-radius: 7px;
  cursor: pointer;
}

.rotator:hover{
  text-decoration: underline;
}

.start-rotate{
  -webkit-animation: turn-ninety linear 500ms forwards;
  -moz-animation: turn-ninety linear 500ms forwards;
  animation: turn-ninety linear 500ms forwards;
}

@-webkit-keyframes turn-ninety{
  0%{
    -webkit-transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(90deg);
  }
}

@-moz-keyframes turn-ninety{
  0%{
    -moz-transform: rotate(0deg);
  }
  100%{
    -moz-transform: rotate(90deg);
  }
}

@keyframes turn-ninety{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.rotate-back{
   -webkit-animation: back-ninety linear 2000ms forwards;
   -moz-animation: back-ninety linear 2000ms forwards;
   animation: back-ninety linear 2000ms forwards;
}

@-webkit-keyframes back-ninety{
  0%{
    -webkit-transform: rotate(90deg);
    }
  59%{
    -webkit-transform: rotate(90deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
   }
}
@-moz-keyframes back-ninety{
  0%{
    -moz-transform: rotate(90deg);
    }
  59%{
    -moz-transform: rotate(90deg);
  }
  100%{
    -moz-transform: rotate(0deg);
   }
}
@keyframes back-ninety{
  0%{
    transform: rotate(90deg);
    }
  59%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
   }
}

.info-container{
  width: 1000px;
}

.description-text-box{
  margin: 36px;
  font-size: 19px;
}

body{
  margin: 8px 8px 8px 0px;
}
.sidebar{
  height: 400px;
  width: 95px;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: transparent;
  position: fixed;
  margin-top: 100px;
  z-index: 2;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  transition: width 500ms;
}

.sidebar-content{
  height: 400px;
  width: 0px;
  background: rgba(0, 0, 0, 0.56);
  color: white;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  transition: width 500ms;
}

.sidebar-links{
  text-decoration: underline;
}
.sidebar-links:hover{
  color: darksalmon;
}


.trigger{
  width: 150px;
  height: 30px;
  background: #980808;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -1px 2px 1px black;
  cursor: pointer;
  margin-left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.trigger:hover{
  background: #5d0202;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-icon{
  font-size: 35px;
}

.email-address{
  color: transparent;
}

.email-icon:hover + .email-address{
  color: white;
}



#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-icon{
  height: 35px;
  width: 35px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px white;
}

.github-address{
  color: transparent;
}

.github-icon-link{
  height: 35px;
  width: 35px;
}

.github-icon-link:hover + .github-address{
  color: white;
}

.checkone{
  height: 1000px;
  background: green;
  text-decoration: overline;
}
