div{
  width: 200px;
  height: 200px;
  position: relative;
  left: 100px;
  top: 100px;
  background-color: coral;
  animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

@keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
    background: coral;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: indianred;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background: darksalmon;
    transform: rotate(180deg);
  }
}








/*

.element {
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  top: 100px;
  background: green;
  animation: tutsFade 4s 1s infinite linear alternate,
             tutsRotate 10s 1s infinite linear normal;
}
@keyframes tutsFade {
  to {
    opacity: 0;
  }
}
@keyframes tutsRotate {
  to {
    transform: rotate(360deg);
  }
}

.element:hover{

}*/


/*
h1{
  width: 10%;
  animation: bounceIn 14s,
             rotate 4s 0s infinite linear normal;
  position: relative;
  top: 100px;
  left: 100px;

}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30% {
    transform: scale(12);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes rotate {
  to{
    transform: rotate(360deg);
  }
}*/
